venv
raw_videos
.env
__pycache__
data/videos/user*
data/trace/user*
data/evaluations/*
data/left_flexion
data/right_flexion
data/left_flexion_csv
data/right_flexion_csv
data/left_abduction
data/right_abduction
data/left_abduction_csv
data/right_abduction_csv